/* CSS Document */

.myCanvas {
	/*border: 1px solid #9C9898;*/
	position:absolute;
}
 
.slider_pad
{
	 position:absolute; 
	 width:100%;
}

.spin
{
	 position:absolute; 
	 width:100%;	 
}

.rotationSliderContainer {
    position: absolute;
    width: 230px;
    height: 230px;
    cursor: default;
	border-radius: 50% 50% 50% 50%;	
}

#rotationSliderContainer1
{
	top:47%;
	left:26%;
}
#rotationSliderContainer2
{
	top:47%;
	left:53%;
}
#rotationSliderContainer3
{
	top:47%;
	left:78%;
}
#rotationSliderContainer4
{
	top:70%;
	left:38%;
}
#rotationSliderContainer5
{
	top:70%;
	left:66%;
}
