
.ui-body-c, body.ui-overlay-c {
    background: #212021;
    background-image: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    -webkit-user-select:text;
}

.screen-wrapper {
	position: absolute;
	width: 2750px;
	height: 1778px;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.product-display{
    /**background-image: url('../images/background_blank.gif');**/
}

.product-display .image{
	width: 2750px;
	height: 1778px;
	position: absolute;
	border-radius: 10px;
	background-size: 100% auto;
}

.btn
{
	z-index: 0; 
	position:absolute;
	bottom:10%;
	left:15%;
	width:100%;
}

.btn2
{
	z-index: 0; 
	position:absolute;
	/*bottom:-30%;*/
	left:10%;
	top:110%;
    height:60px;
	width:70%;
}

.btn3
{
	z-index: 0; 
	position:absolute;
	/*bottom:-20%;*/
	left:40%;
	top:100%;
    height:60px;
	width:70%;
}


.btn2 a , .btn3 a
{
	width:100%;
	margin-left:15px;
	font-size:30px;		
}

#login_btn
{
	left:-40%;	
}


.btn a
{
	width:40%;
	margin-left:15px;
	font-size:30px;	
}

.btn a label
{
	font-size:30px;
	color:#0099FF;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #ffffff /*{global-active-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FAFCFC /*{global-active-background-start}*/), to( #D9E3EA /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FAFCFC /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FAFCFC /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FAFCFC /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FAFCFC /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FAFCFC /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	
}


.regtexts
{
	margin-top:40%;
	margin-left:33%;
	width:60%;	
    font-size:100px;
}

.lbl
{
	/*color:#001346;*/
	font-weight:bold;
	font-size:100px !important;
	width:100% !important;
}

.reg_btn
{
	position:relative;
	left:40%;
	width:50%;
	bottom:1%;
}

.reg_btn a
{
	width:60%;
	margin-left:1px;
}

.reg_btn label
{
	font-size:30px;
}

.login_chk
{
	color:#001346;
	font-weight:300;
}

#reg_name, #reg_email, #reg_pass
{
	width:100%;	
	font-size:80px !important;
	font-weight:bold;
	background-color:#FFFFFF;
	padding-bottom:0px;
}

#login_name, #login_pass 
{
	width:100%;	
	font-size:100px !important;
	font-weight:bold;
	background-color:#FFFFFF;
    margin-bottom:40px;
}

.home_bts
{
	position:absolute;
	bottom:10%;
	width:84%;
	left:15%;
}

.home_bts a
{
	width:27%;
	height:300px; 
	padding-top:2%;
	padding-bottom:1%;
	margin-left:3%;
}

#create .ui-icon 
{ 
	background:url(../images/create.png) 10% 10% no-repeat;
	width:100px !important; 
	height:100px !important;
	margin-left:-40px;
}

#info .ui-icon 
{ 
	background:url(../images/info.png) 10% 10% no-repeat;
	background-size:contain;
	width:130px ; 
	height:130px ;
	margin-left:-60px;
}

#logout_btn .ui-icon 
{
	background:url(../images/logout.png) 10% 10% no-repeat; 
	width:130px !important; 
	height:130px !important;
	background-size:contain;
	left:30%;
}


#vote .ui-icon 
{ 
	background:url(../images/vote.png)10% 10% no-repeat; 
	width:100px !important; 
	height:100px !important;
	margin-left:-35px;
}

#help .ui-icon 
{ 
	background:url(../images/help.png)10% 10% no-repeat; 
	width:100px !important; 
	height:100px !important;
	margin-left:-35px;
}

#create span, #vote span, #help span, #info span, #register_pg span, #login_btn span, #logout_btn span
{
	font-size:30px;
	color:#3F9FCF;
}

.localnav
{
	z-index:1;
	position:absolute; 
	top:36%; 
	left:23%; 
	/*width:100%*/
}

.localnav a 
{
	width:900px;
	padding:10px;
}

.ui-btn-active {
	width:25%; 
	background-color:#737980;
	border: 1px solid 		#4B4D4E /*{global-active-border}*/;
	background: 			#ADB0B4 /*{global-active-background-color}*/;
	font-weight: bold;
	color: 					#ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #2C2E2F /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ADB0B4 /*{global-active-background-start}*/), to( #686F76 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ADB0B4 /*{global-active-background-start}*/, #686F76 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ADB0B4 /*{global-active-background-start}*/, #686F76 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ADB0B4 /*{global-active-background-start}*/, #686F76 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ADB0B4 /*{global-active-background-start}*/, #686F76 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ADB0B4 /*{global-active-background-start}*/, #686F76 /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-btn-active-1 {
	width:25%;
	border: 1px solid 		#4B4D4E /*{global-active-border}*/;
	background: 			#ADB0B4 /*{global-active-background-color}*/;
	font-weight: bold;
	color: 					#ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #ffffff /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F3F3F4 /*{global-active-background-start}*/), to( #BEC1CA /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-btn-active-2 {
	border: 1px solid 		#4B4D4E /*{global-active-border}*/;
	background: 			#ADB0B4 /*{global-active-background-color}*/;
	font-weight: bold;
	box-shadow:#00C;
	color: 					#ffffff /*{global-active-color}*/;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #ffffff /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F3F3F4 /*{global-active-background-start}*/), to( #BEC1CA /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}


.ui-btn-active-3 {
	border: 1px solid 		#F00 /*{global-active-border}*/;
	font-weight: bold;
	color: 					#0 /*{global-active-color}*/;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #ffffff /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF9D9D /*{global-active-background-start}*/), to( #F00 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF9D9D /*{global-active-background-start}*/, #F00 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF9D9D /*{global-active-background-start}*/, #F00 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF9D9D /*{global-active-background-start}*/, #F00 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF9D9D /*{global-active-background-start}*/, #F00 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF9D9D /*{global-active-background-start}*/, #F00 /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-btn-active-4 {
	color: 					#748493;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #ffffff /*{global-active-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FAFCFC /*{global-active-background-start}*/), to( #D9E3EA /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #748493 /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #748493 /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #748493 /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #748493 /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #748493 /*{global-active-background-start}*/, #D9E3EA /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}


.ui-btn-active-mixer {
	width:15%;
	border: 1px solid 		#4B4D4E /*{global-active-border}*/;
	background: 			#ADB0B4 /*{global-active-background-color}*/;
	font-weight: bold;
	color: 					#000000; /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #ffffff /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F3F3F4 /*{global-active-background-start}*/), to( #BEC1CA /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F3F3F4 /*{global-active-background-start}*/, #BEC1CA /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.metal_board
{
	position:absolute; 
	left:17%; 
	top:30%; 
	width:77%; 
	height:60%;
}

.ui-shadow2 {
	-moz-box-shadow: 0px 1px 14px /*{global-box-shadow-size}*/ 			rgba(0,0,0,1) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 14px /*{global-box-shadow-size}*/ 		rgba(0,0,0,1) /*{global-box-shadow-color}*/;
	box-shadow: 2px 2px 4px 2px /*{global-box-shadow-size}*/ 				rgba(0,0,0,0.5) /*{global-box-shadow-color}*/;
}

.mix2_scr
{
	position:absolute; 
	width:68%; 
	height:45%; 
	left:25%; 
	top:50%;
}

.mix2_scr div
{
	margin-bottom:15px;	
}

.checkbox6
{
	width: 500px;
	height: 100px;
	padding-top:10px;
}

.mix_btn
{
	width:500px;
	height:100px;
	font-size:20px;
	padding-top:10px;
}

.mix_btn1
{
	width:95%;
	font-size:20px;
	font-weight:bold
}


.vote_tbl
{
	position:absolute; 
	left:16%;
	width:77%;
	top:35%;
}

.vote_tbl_title
{
	font-size:35px;	
	width:100%;
}

.vote_tbl_title label
{
	margin-left:35%;
}

.vote_tbl_body
{
	width:100%;
	height:100%;
	color:#000000;
}

.vote_tbl_body th
{
	background-color:#888;
	font-size:50px;	
	font-weight:bold;
	padding:10px;
}

.vote_tbl_body td
{
	padding:10px ;
	font-size:20px;
	font-weight:bold;
}

.info_btn
{
	margin-top:30px;
	width:130%;	
}


#mixer_btn2
{
	position:absolute;
	width:15%;
	bottom:40%;
	left:53%;	
}
#mixer_btn3
{
	position:absolute;
	width:15%;
	bottom:40.5%;
	left:75%;	
}
#mixer_btn4
{
	position:absolute;
	width:15%;
	bottom:15%;
	left:41%;	
}
#mixer_btn5
{
	position:absolute;
	width:15%;
	bottom:15%;
	left:64%;	
}

.play_btn
{
	width:150px;
	height:150px;
	padding:0;
	margin:0;
}

.playchk_btn
{
	width:40px;
	height:40px;
	padding:0;
	margin:0;
}


/** for scroll **/

tr {
	padding:0;
	margin:0;
	border:0;
}


#wrapper{
	position:relative; z-index:1;
	display:block; float:left;
	width:100%; height:1100px;
	overflow:auto;
	border:1px solid #aaa;
}

.scroller {
	position:absolute; z-index:1;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.songlist {
	font-size:150px;
	font-weight:bold;
}
