/* CSS Document */

.myCanvas {
	/*border: 1px solid #9C9898;*/
	position:absolute;
}
 
.slider_pad
{
	 position:absolute; 
	 width:100%;
}

.spin
{
	 position:absolute; 
	 width:100%;	 
}

.rotationSliderContainer {
    position: absolute;
    width: 250px;
    height: 250px;
    cursor: default;
	border-radius: 50% 50% 50% 50%;	
}

#rotationSliderContainer1
{
	top:45%;
	left:25%;
}
#rotationSliderContainer2
{
	top:45%;
	left:52%;
}
#rotationSliderContainer3
{
	top:45%;
	left:78%;
}
#rotationSliderContainer4
{
	top:67%;
	left:38%;
}
#rotationSliderContainer5
{
	top:67%;
	left:66%;
}
